h1 Contacts


form(action="/contacts/" method="POST")
    input(type="text" name="name" placeholder="name")
    input(type="email" name="email" placeholder="email")
    input(type="text" name="phonenumber" placeholder="phonenumber")
    input(type="submit" value="연락처 추가")


ul
    each contactItem in contactItems
        li #{contactItem.name} | #{contactItem.phonenumber} | #{contactItem.email}
