doctype html
html
    head
        title Node.js 로 시작하는 웹 프로그래밍
    body
        // 1. Header
        // 2. Content
        // 3. Footer

        include ./partials/header
        block content
        include ./partials/footer   
